* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(224, 250, 224);
}


header {
    background-color: rgb(11, 83, 11);
    color: #f0f8ff;
    font-size: 40px;
    border-bottom: solid 2px rgb(5, 54, 5);
    padding: 20px;
}

.chamada {
    display: flex;
    justify-content: center;
    background-color: #a9f1a9;
}

.chamada-texto {
    margin-right: 8%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 30px;
}

.boasvindas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 40px;
}